.features-table {
    width: 100%;
}
.features-table td {
    text-align: center;
}
.features-table .yes:before {
    content: "\25cf";
    color: #10b068;
}
.features-table td.yes:last-child:before {
    color: #d0021b;
}