:local {
  $primary: #1ee79e;
  $sidebarWidth: 250px;

  .App {
    position: relative;
    min-height: 100%;

    // Apply padding on top and bottom to prevent margins from
    // appearing above/below.
    padding: 1px 0;
    overflow: hidden;

    .content {
      transform: translate3d($sidebarWidth, 0, 0);
      width: calc(100% - #{$sidebarWidth});

      // Narrow
      @media only screen and (max-width: 767px) {
        transform: translate3d(0, 0, 0);
        transition: transform 180ms cubic-bezier(0.895, 0.030, 0.685, 0.220);
        width: 100%;
      }

      // Wide
      @media only screen and (min-width: 768px) {
        transition: transform 180ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
      }
    }

    .error {
      margin: 4rem 4rem 8rem;
    }

    .nav {
      // position: fixed;
      // top: 0;
      // bottom: 0;
      top: 0;
      left: 0;
      bottom: 0;
      width: $sidebarWidth;
      z-index: 10;
    }
  }

  .MDXWrapper {
    margin: 4rem 2rem 8rem;
    max-width: 650px;

    // Wide
    @media only screen and (min-width: 768px) {
      margin-left: 5rem;
      margin-right: 5rem;
    }

    code[class*="language-"], pre[class*="language-"] {
      font-size: 1.6rem;
    }

    pre, code { font-family: Inconsolata, monospace; line-height: 3rem }
    code { background-color: #f3f4f4; }
    pre, pre[class*="language-"] {
      padding: 2rem;
      margin: 2rem -2rem;
      border-radius: 3px;
      color: rgb(205, 205, 205);
    }
    pre code { font-size: 1.6rem; white-space: pre-wrap; }
    code { font-size: 2rem; }
    h1 { font-family: Lato, monospace; line-height: 4rem; margin: 6rem 0 4rem; font-size: 200%; }
    h2 {
      font-family: Lato, sans-serif;
      margin: 5rem 0 4rem 0;
      font-size: 125%;
      color: rgb(81, 81, 81);
    }
    h2 + pre {
      margin-top: -2rem !important;
    }
    h3 {
      padding: 0.5rem 0;
      font-family: Inconsolata, monospace;
      margin: 4rem 0 0 0;
      font-size: 100%;
      color: rgb(40, 40, 40);
    }
    h2 > code,
    h3 > code {
      display: inline-block;
      font-size: 100%;
      font-weight: 700;
      background-color: transparent;
    }

    hr {
      margin: 0 auto;
      width: 25%;
      border: 1px solid $primary;
      border-radius: 2px;
      opacity: 0.5;
    }

    blockquote {
      color: #555;
      font-style: italic;
    }

    img {
      position: relative;
      max-width: 100%;
    }
    img + em {
      display: block;
      text-align: center;
      font-size: 80%;
      margin-top: 10px;
    }

    li { margin: 4px 0; }

    h1, h2, h3 { position: relative; }

    p {
      margin: 1em 0;
      line-height: 3.2rem;
    }

    th {
      border-bottom: 1px solid #f0f0f0;
      text-align: center;
      font-size: 80%;
      font-weight: normal;
      font-style: italic;
    }

    tr:nth-child(even) {
      background: #f0f0f0;
    }

    table td,
    table th {
      padding: 2px 4px;
    }
    table {
      margin-bottom: 3rem;
    }

    aside {
      font-size: 1.8rem;
      border: 2px solid $primary;
      border-radius: 3px;
      padding: 1rem 3rem;
      margin: 3rem 0;
    }
    aside h4 {
      margin-top: 2rem;
      color: rgb(81, 81, 81);
    }

    a {
      color: darken($primary, 10%);
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }

    .heading {
      .hash-link {
        padding: 0 1rem;
        text-decoration: none;
        font-weight: normal;
        color: #aaa;
        visibility: hidden;
      }

      &:hover .hash-link {
        visibility: visible;
      }
    }
  }
}