:local {
  $primary: #1ee79e;
  $border: #eee;
  $sidebarWidth: 250px;

  .Nav {
    transition: transform 180ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    transform: translate3d(0, 0, 0);

    a {
      text-decoration: none;
    }

    @media only screen and (max-width: 767px) {
      &:not(.open) {
        transition: transform 180ms cubic-bezier(0.895, 0.030, 0.685, 0.220);
        transform: translate3d(-$sidebarWidth, 0, 0);
      }
    }
  }

  .Sidebar {
    border-right: 1px solid $border;
    font-weight: 700;
    background-color: white;
    overflow: auto;
    height: 100%;
  }

  .brand {
    display: block;
    text-align: left;
    padding: 1rem 2rem;
    margin-left: -2px;

    .logo {
      height: 32px;
      margin: 0 auto;
      line-height: 32px;
      vertical-align: -10px;
    }
    .name {
      display: inline-block;
      color: #444444;
      font-family: Lato, sans-serif;
      font-weight: bold;
      font-size: 18px;
      line-height: 32px;
      margin-left: 0.25rem;
    }
  }

  .link {
    display: block;
    padding-left: 3rem;
    line-height: 2.4rem;
    padding: 0.8rem 0 0.8rem 2rem;
    font-size: 1.6rem;
    color: darken(desaturate($primary, 75%), 5%);

    code {
      font-size: inherit;
    }
  }

  .section {
    > .heading {
      border-bottom: 1px solid $border;
      font-size: 1.2rem;
      font-weight: bold;
      color: black;
      padding-left: 2rem;
      margin-top: 2rem;
      text-transform: uppercase;
    }
    margin-bottom: 2rem;
  }
  .section + .page {
    border-top: 1px solid $border;
  }

  .section.active > .heading {
    color: $primary;
  }

  .brand + nav > .page:first-child:not(.active) {
    border-top: 1px solid $border;
  }
  .page {
    border-bottom: 1px solid $border;
  }
  .page.active > .link {
    background-color: $primary;
    color: white;
    font-weight: bold;
  }
  .page .children {
    border-left: 2rem solid lighten(desaturate($primary, 60%), 44%);
    padding: 0.5rem 0;
  }
  .heading > .link {
    color: lighten(desaturate($primary, 75%), 8%);
    padding: 0.666rem 0 0.666rem 2rem;
    font-size: 1.4rem;
    line-height: 2rem;
  }
  .heading.active > .link {
    color: $primary;
  }


  @media only screen and (min-width: 768px) {
    .hamburger {
      display: none;
    }
  }
  
  .hamburger {
    position: absolute;
    top: 1rem;
    left: 2rem;
    margin-left: $sidebarWidth;
    height: 32px;
    width: 32px;
    background-color: transparent;
    border: 1px solid $primary;
    border-radius: 3px;

    > .icon {
      position: absolute;
      z-index: 4;
      width: 16px;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      height: 3px;
      background: $primary;
      border-radius: 2px;
      transition: background 120ms cubic-bezier(0.165, 0.840, 0.440, 1.000);

      &:before,
      &:after {
        content: '';
        position: absolute;
        display: block;
        height: 3px;
        width: 16px;
        background: $primary;
        border-radius: 2px;
        transform-origin: 14% center;
        transition: transform 120ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
      }
      &:before {
        top: -6px;
      }
      &:after{
        bottom: -6px;
      }
      &.open {
        background: transparent;
      }
      &.open:before {
        transform: rotate(45deg);
      }
      &.open:after {
        transform: rotate(-45deg);
      }
    }
  }
}