.MDXWrapper {
  margin: 2rem 2rem 4rem;
  max-width: 550px;
}

pre, code { font-family: Inconsolata, monospace; line-height: 1.5 }
markdown { display: block; }
code { background-color: #f3f4f4; }
pre { background: rgb(45, 45, 45); padding: 0.5rem; border-radius: 3px; color: rgb(205, 205, 205); }
pre code { font-size: 0.8rem; white-space: pre-wrap; }
code { font-size: 1rem; }
h1 { font-family: Inconsolata, monospace; line-height: 2rem; margin: 2rem 0 1rem 0; font-size: 200%; }
h2 { font-family: Lato, sans-serif; margin: 2.5rem 0 2rem 0; font-size: 125%; color: rgb(81, 81, 81); }
h3 {
  padding: 0.25rem 0;
  font-family: Inconsolata, monospace;
  margin: 2rem 0 0 0;
  font-size: 100%;
  color: rgb(40, 40, 40);
}
h3 > code {
  display: inline-block;
  font-size: 100%;
}
h2 code { font-size: 100%; font-weight: 100; }

hr {
  margin: 0 auto;
  width: 25%;
  border: 1px solid #10b068;
  border-radius: 2px;
  opacity: 0.5;
}

blockquote {
  color: #555;
  font-style: italic;
}

img {
  position: relative;
  max-width: 100%;
}
img + em {
  display: block;
  text-align: center;
  font-size: 80%;
  margin-top: 10px;
}

li { margin: 4px 0; }

h1, h2, h3 { position: relative; }
.header-anchor { position: absolute; left: -1em; top: 0.1em; color: #ccc; }
.header-anchor:hover { color: rgb(45, 45, 45); }

p { margin: 1em 0; }

th {
  border-bottom: 1px solid #f0f0f0;
  text-align: center;
  font-size: 80%;
  font-weight: normal;
  font-style: italic;
}

tr:nth-child(even) {
  background: #f0f0f0;
}

table td,
table th {
  padding: 2px 4px;
}
table {
  margin-bottom: 1.5rem;
}

aside {
  font-size: 0.9rem;
  border: 2px solid #1cde78;
  border-radius: 3px;
  padding: 0.5rem 1.5rem;
  margin: 1.5rem 0;
}
aside h4 {
  margin-top: 1rem;
  color: rgb(81, 81, 81);
}

.properties {
  margin: 1.5rem 0;
  padding-left: 1rem;
  border-left: 3px solid #eee;
}
.properties ul {
  margin: 0;
  padding: 0 0 0 1.25rem;
}
.properties li {
  margin: 0.5rem 0;
  padding: 0;
  color: #666;
}
.properties strong {
  color: black;
  margin-right: 0.25rem;
}

a {
  color: #1cde78;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.MDXWrapper-heading-link {
  display: none;
}
.MDXWrapper-heading:hover .MDXWrapper-heading-link {
  display: inline-block;
  padding: 0 0.5rem;
}
