{
    "useTabs": false,
    "printWidth": 80,
    "tabWidth": 2,
    "singleQuote": true,
    "trailingComma": "all",
    "jsxBracketSameLine": true,
    "parser": "typescript",
    "semi": false,
    "rcVerbose": false
  }