language: node_js
node_js: node
cache: yarn
  yarn: true
  directories:
    - "node_modules"
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s
  - export PATH="$HOME/.yarn/bin:$PATH"
before_script:
  - yarn run lerna bootstrap
  - yarn run lerna run prepublish
script:
- yarn build
- yarn test