.App {
  min-height: 100%;
}

.App-content {
  margin-left: 220px;
}

.App-error {
  margin: 2rem 2rem 4rem;
}

.App-BusyIndicator {
  position: fixed;
  height: 4px;
  top: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(-45deg, rgba(255,255,255,0.2) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 75%, transparent 75%, transparent);
  background-color: #1cde78;
  background-size: 35px 35px;
  z-index: 1000;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
  transform: translateY(-4px);
  transition: transform ease-in 300ms, opacity ease-in 300ms;
  transition-delay: 0;
  animation: App-LoadingIndicator-progress 2s cubic-bezier(.4,.45,.6,.55) infinite;
  opacity: 0;
}

@media only screen and (max-width: 767px) {
  .App-BusyIndicator {
    left: 0 !important;
  }
}

.App-BusyIndicator-loading {
  transition-delay: 333ms;
  transform: translateY(0);
  opacity: 1;
}

@keyframes App-BusyIndicator-progress {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -35px -35px;
  }
}
