@import (reference) "../theme.less";

.ExampleWrapper {
  h2 {
    color: #666;
    font-weight: 500;
    font-size: 16px;

    margin: 40px 0 10px;
    @media @narrow-break {
      margin: 5px 0 10px;
    }
  }

  pre.PrismSourceView {
    white-space: pre-wrap;
    word-wrap: break-word;
    width:100%;
  }
}
