.AppLayout {
  padding-top: 64px;
}
.AppLayout main {
  margin: 1.5rem;
}
.AppLayout-header {
  border-bottom: 1px solid #eee;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  z-index: 10;
}
.AppLayout-nav {
  margin: 1rem 1.5rem;
}
.AppLayout-nav a {
  display: inline-block;
  color: #555555;
  font-family: Lato, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  margin-right: 2rem;
  text-decoration: none;
  transition: color 150ms ease-out;
}
.AppLayout-nav a.active {
  color: #1cde78;
}
