@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900|Inconsolata:400,700');
@import '~prismjs/themes/prism.css';

* {
  box-sizing: border-box;
}

html {
  font-family: Lato, sans-serif;
  font-size: 8px;
}

html, body, #root, #navigation {
  height: 100%;
  min-height: 100%;
  max-width: 100vw;
}

body {
  margin: 0;
  margin: 0;
  font-size: 16px;
  font-size: 16px;
  line-height: 3rem;
}
