.Sidebar {
  background-color: #f3f4f4;
  border-right: 1px solid rgba(83, 109, 97, 0.03);
  box-shadow: 0 0 8px rgba(83, 109, 97, 0.1);
}

.Sidebar-brand {
  display: block;
  text-align: center;
  margin: 2rem 0 1rem;
}
.Sidebar-brand-logo {
  display: inline-block;
  height: 40px;
  margin: 0 auto;
  vertical-align: middle;
}
.Sidebar-brand-title {
  color: black;
  display: inline-block;
  font-family: Inconsolata, monospace;
  font-weight: bold;
  font-size: 1.2rem;
  margin-left: 0.25rem;
}

.Sidebar-nav > section {
  margin: 1rem 0;
}
.Sidebar-nav-heading,
.Sidebar-nav-subheading,
.Sidebar-NavLink,
.Sidebar-HashLink {
  display: block;
  padding-left: 1.5rem;
  text-indent: -0.5rem;
  font-size: 0.8rem;
  color: #444;
}

.Sidebar-NavLink:hover,
.Sidebar-HashLink:hover {
  text-decoration: underline;
}

.Sidebar-nav-heading {
  font-weight: bold;
  padding-left: 1rem;
}
a.Sidebar-nav-heading {
  text-decoration: underline;
}

.Sidebar-nav-subheading {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.6rem;
  color: #999;
  margin-top: 0.5rem;
}

.Sidebar-NavLink {
  display: block;
  text-decoration: none;
  border-right: 3px solid transparent;
}
.Sidebar-NavLink-active {
  color: #1cde78;
  border-right-color: #1cde78;
}

.Sidebar-HashLink {
  text-decoration: none;
}
.Sidebar-api .Sidebar-HashLink {
  font-family: Inconsolata, sans-serif;
}

.Sidebar-ComponentLink > .Sidebar-HashLink {
  padding-left: 2rem;
  font-size: 0.75rem;
  line-height: 1.33rem;
}
.Sidebar-ComponentLink > .Sidebar-HashLink:first-child {
  font-weight: bold;
  padding-left: 1.5rem;
  font-size: 0.8rem;
}
.Sidebar-ComponentLink > .Sidebar-HashLink:last-child {
  margin-bottom: 0.5rem;
}