:local {
  $primary: #1CDE78;
  $border: #eee;

  .Sidebar {
    border-right: 1px solid $border;
    font-weight: 700;
  }

  .brand {
    display: block;
    text-align: left;
    padding: 0.5rem;
    border-bottom: 1px solid $border;

    .logo {
      height: 32px;
      margin: 0 auto;
      line-height: 32px;
      vertical-align: -11px;
    }
    .name {
      display: inline-block;
      color: #444444;
      font-family: Inconsolata, sans-serif;
      font-weight: bold;
      font-size: 18px;
      line-height: 32px;
      margin-left: 0.25rem;
    }
  }

  .link {
    display: block;
    padding-left: 1.5rem;
    line-height: 1.2rem;
    padding: 0.4rem 0 0.4rem 1rem;
    font-size: 0.8rem;
    color: darken(desaturate($primary, 75%), 5%);

    code {
      font-size: inherit;
    }
  }

  .section {
    > .heading {
      border-bottom: 1px solid $border;
      font-size: 0.6rem;
      font-weight: bold;
      color: black;
      padding-left: 1rem;
      margin-top: 1rem;
      text-transform: uppercase;
    }
    margin-bottom: 1rem;
  }
  .section + .page {
    border-top: 1px solid $border;
  }

  .page {
    border-bottom: 1px solid $border;
  }
  .page.active > .link {
    background-color: $primary;
    color: white;
    font-weight: bold;
  }
  .page .children {
    border-left: 1rem solid lighten(desaturate($primary, 70%), 40%);
    padding: 0.25rem 0;
  }
  .heading > .link {
    color: lighten(desaturate($primary, 75%), 8%);
    padding: 0.333rem 0 0.333rem 1rem;
    font-size: 0.7rem;
    line-height: 1rem;
  }
}